header {
    height: 150px;
    width: 350px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    order: 1;
}
body{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 21cm;
    height: 29.7cm;
    margin: 30mm 45mm; 
  
} 
.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px;
}
.main {
    border: 2px solid purple;
    display: flex;
    flex-flow: row;
}
.education {
    border: 1px solid black;
    height: 150px;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
    position: relative;
    right: 237px;
    top: 150px;
}
.profile {
    border: 1px solid black;
    height: 150px;
    width: 1600px;
}
.contact {
    border: 1px solid black;
    height: 220px;
}
.work-experience {
    border: 1px solid black;
    height: 250px;
}